@model HMS.Web.Areas.Dashboard.ViewModel.AccommodationPackageListingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Accommodation Types</h2>
<hr />
<form class="d-flex flex-wrap gap-2 align-items-center">

    <div class="input-group mb-4">


        <input type="text" name="Search_Bar" value="@Model.Search_Bar" required class="form-control" placeholder="Search Here">
        <button class="btn btn-outline-primary mb-lg-1" type="submit"> <i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
        <a class="btn btn-outline-secondary" href="@Url.Action("index", "AccommodationPackages")">  <i class="fa-solid fa-redo-alt me-1"></i>Reset</a>
        <button data-href="@Url.Action("Action", "AccommodationPackages")" class="data-btn btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#actionModal">  <i class="fa-solid fa-plus me-1"></i>Create</button>


    </div>

</form>
@{ Html.RenderPartial("_Listing", Model);}


<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1">
    <div class="modal-dialog">

    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
            success: function (response) {
                $("#actionModal .modal-dialog").html(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error: " + textStatus + " " + errorThrown);
                // You can show an error message to the user here if needed
            }
        });
    });
</script>
